<div class="card m-5">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fecha de aparición: {{heroe.aparicion}}</li>
      <li class="list-group-item">Casa: {{heroe.casa}}</li>
    </ul>
    <div class="card-body">
      <a [routerLink]="[ '/heroes']" class="card-link">Ir atrás</a>
    </div>
  </div>
